* {
  font-family: 'Pangolin', cursive;
  background-color: azure;
}

main {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.title {
  margin-top: 60px;
  margin-left: 60px;
  font-size: 50px;
  color: #037373;
}

.recent-scores {
  width: 40%;
}

.recent-scores h2 {
  color: #037373;
}

.refresh {
  cursor: pointer;
  color: #037373;
  border: 2px solid #037373;
  background: none;
  font-size: medium;
  border-radius: 4px;
}

.add-score {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-score > input {
  width: 230px;
  padding: 6px;
  color: #025252;
  font-size: large;
}

.add-score > h2 {
  color: #037373;
}

.add-score > input:focus {
  outline: none;
  border: 2px solid #025252;
  border-radius: 4px;
}

.submit {
  cursor: pointer;
  align-self: flex-end;
  border: 2px solid #037373;
  border-radius: 4px;
  font-size: medium;
  color: #037373;
}

.recent-scores > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scores-container {
  border: 2px solid #037373;
}

.scores-container > li {
  padding: 4px;
  color: coral;
  font-weight: 900;
}

.scores-container > li:nth-child(even) {
  background-color: lightgray;
}
